{% extends "base.html" %}

<!-- Some JS is loaded in the end. See card-page.js -->

{% block content %}

<div class="container is-fullheight" style="margin-bottom: 10em">
    <div class="section">
        <div class="columns is-centered">
            <div class="column is-2">
                <div class="card" id="{{ card.id }}">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{ card.cover-url }}" alt="Couverture de {{ card.title }}"/>
                        </figure>
                    </div>
                </div>

                <p style="padding-top: 1em">
                  <a href="/card/update/{{ card.id }}"> Edit </a>
                </p>

            </div>

            <div class="card-content column">
                <div class="media">
                    <span class="media-content">

                      <!-- In card-stock.html: -->

                        {% block media_header %}
                        {% endblock media_header %}

                        <p class="title is-4 no-padding">
                            <a href="{{ card | url }}" style="color: black;">
                                {{ card.title }}
                            </a>
                        </p>
                        {% if card.authors %}
                        <p><span><a href="/search?q={{ card.authors }}">{{ card.authors | capfirst }}</a></span></p>
                        {% endif %}

                        {% if card.publisher %}
                        <p class="">{{ card.publisher | capfirst }}</p>
                        {% endif %}

                        <!-- -
                        {% if card.shelf %}
                        <p>
                            <a href="/search?rayon={{ card.shelf.id }}">
                              <span class="tag" title="{{ card.shelf }}"> {{ card.shelf.name | truncatechars:27 }} </span>
                            </a>
                        </p>
                        {% endif %}
                        -->

                        {% if card.isbn %}
                        <div class="has-text-grey-light"> {{ card.isbn }} </div>
                        {% endif %}

                        {% if card.price %}
                        <div class="title is-6"> {{ card.price | price }} €</div>
                        {% endif %}

                    </span>
                </div>


                <table class="table is-narrow">
                  <tbody>

                    <tr>
                      <td>
                        <div id="quantity">
                          In stock
                      </td>

                      <td>
                        <span class="tag level-item
                                     {{ card | quantity | quantity-style:(:positive "is-success" :negative "is-danger is-light" :zero "") }}">
                          x {{ card | quantity }}</span>
                      </td>

                        </div>
                    </tr>


                    <!-- Show places only if there is more than the default place
                         (preferably unused feature) -->

                    {% if places-copies.length != 1 %}
                    <tr>
                      <td></td>
                      <td>
                        <table id="place-copies-table" class="table">
                          {% for place-copy in places-copies %}
                          <tr id="place-copy{{ place-copy.id }}">
                            <td>
                              {{ place-copy | name }}
                            </td>
                            <td>
                              {{ place-copy | quantity }}
                            </td>
                          </tr>
                          {% endfor %}
                        </table>
                      </td>
                    </tr>
                    {% endif %}

                    <tr>
                      <td>
                        <!-- <a href="/search?rayon={{ card.shelf.id }}"> -->
                        <!-- <span class="tag" title="{{ card.shelf.name }}"> {{ card.shelf.name | truncatechars:27 }} </span> -->
                        <!-- </a> -->

                        Shelf

                      </td>
                      <td>

                        <div hidden="true" data-shelves="{{ shelves }}"></div>
                        <div class="select is-small">
                          <select id="shelf-select" name="shelves">
                            <option value="">  </option>
                            {% for shelf in shelves %}
                            {% if shelf.id == card.shelf.id %}
                            <option value="{{ shelf.id }}" selected> {{ shelf.name }} </option>
                            {% else %}
                            <option value="{{ shelf.id }}"> {{ shelf.name }} </option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </div>

                        <a  id="link-stock-shelf"
                            color="black"
                            title="Search your stock"
                            href="/stock?shelf={{ card.shelf.name-ascii }}">
                          <span class="icon">
                            <i class="fas fa-search"></i>
                          </span>
                        </a>

                       </td>
                    </tr>

                  </tbody>
                </table>

                {% block subinfo %}
                <!-- TODO this is a bodge around no in boolean operator for if in djula -->
                {% for role in current-user-roles %}
                {% ifequal role "editor" %}
                <div id="stock-management" >
                    <!-- TODO possibly use horizontal form addons from bulma instead -->
                    <form action="/card/add-stock/" method="POST" >
                        <input name="q" type="hidden" value="{{ q }}" />
                        <input name="referer-route" type="hidden" value="{{ referer-route }}">
                        <input name="isbn" type="hidden" value="{{ card.isbn }}"/>
                        <div class="field" >
                            <label class="label"> Place </label>
                            <select name="place-id" class="select" >
                                {% for place in places %}
                                <option value="{{ place.id }}">{{ place.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <label class="label"> Quantity </label>
                            <input name="quantity" type="text" id="quantity-input" value="0"/>
                        </div>
                        <div class="field is-grouped" >
                            <button action="submit" class="button is-link" >Add</button>
                        </div>
                    </form>
                </div>
                {% endifequal %}
                {% endfor %}
                {% endblock subinfo %}

            </div>

        </div>

    </div>
</div>

<!-- Load JavaScript for this page: handle a change of the shelf select -->
<script defer src="/static/card-page.js"></script>

{% block script %}
<script>
 window.addEventListener('load', (event) => {
     const quantityInput = document.getElementById('quantity-input');
     quantityInput.focus();
     quantityInput.setSelectionRange(0, -1);
 });
</script>

{% endblock script %}

{% endblock %}
