{% extends "base.html" %}

{% block content %}

<section class="hero is-info welcome is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hello, Admin.
      </h1>
      <h2 class="subtitle">
        I hope you are having a great day!
      </h2>
    </div>
  </div>
</section>
<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"> {{ data.nb-titles }} </p>
        <p class="subtitle"> Nombre de titres </p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"> {{ data.nb-books }} </p>
        <p class="subtitle"> Nombre de livres </p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"> {{ data.nb-titles-negative }} </p>
        <p class="subtitle"> Titres en stock négatif </p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title"> Many </p>
        <p class="subtitle"> cool things to do today </p>
      </article>
    </div>
  </div>
</section>
<div class="columns">
  <div class="column is-6">
    <div class="card events-card">
      <header class="card-header">
        <p class="card-header-title">
          Outdated loans ({{ data.nb-outdated-loans }})
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped">
            <tbody>
              {% for loan in data.outdated-loans %}
              <tr>
                <td width="5%"><i class="fa fa-bell-o"></i></td>
                <td>
                  <a href="/card/{{ loan.book-id }}">{{ loan.book-id | print-book }}
                  </a>
                  lended to {{ loan.contact-id | print-contact }}, due on {{ loan.due-date | date:(:year "/" (:month 2) "/" (:day 2) " " (:hour 2) ":" (:min 2)) }} </td>
                <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <a href="/stock/loans?outdated=t" class="card-footer-item">View All</a>
      </footer>
    </div>
  </div>

  <div class="column is-6">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Quick search
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>

      </header>
      <div class="card-content">
        <div class="content">

          <form action="/search">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-large" name="q" type="text" placeholder="Search by title, author and ISBN">

              <span class="icon is-medium is-left">
                <i class="fa fa-search"></i>
              </span>
              <span class="icon is-medium is-right">
                <i class="fa fa-check"></i>
              </span>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
